.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.bottom button {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 178, 127, 1) 0%,
    rgba(4, 187, 229, 1) 100%
  );
  box-shadow: 0px 4px 8px rgba(46, 153, 241, 0.5);
  border-radius: 100px;
  border: none;

  padding: 20px 70px;
  margin: 10px 0 100px;

  cursor: pointer;
  transition: all 0.1s ease;

  font-size: 2rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.bottom button:hover {
  filter: brightness(105%);
  box-shadow: 0px 4px 16px rgba(46, 153, 241, 0.5);
}

.bottom button:active {
  filter: brightness(95%);
  box-shadow: 0px 2px 4px rgba(46, 153, 241, 0.5);
}

.heading {
  min-height: 142px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  margin-top: 40px;
}

.heading h2 {
  font-size: 4rem;
  color: #606060;
  margin-bottom: 20px;
  font-weight: bold;
}

.heading p {
  font-size: 2rem;
  font-weight: 100;
}

.body {
  max-width: 1140px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 585px;
}

.bottom .item {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 25%;
  min-width: 240px;
  height: 100%;
}

.body .item .img {
  padding: 0 20px;
  margin-bottom: 40px;
}

.bottom .item img {
  width: 100%;
  min-width: 170px;
}

.bottom b {
  color: #0bbae7;
  font-weight: bold;
}

.bottom .content {
  font-size: 2rem;
  font-weight: 300;
  text-align: justify;
}

@media (max-width: 1200px) {
  .body {
    width: 600px;
  }

  .bottom .item {
    max-width: 50%;
  }
}
