.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.bottom img {
  height: 1460px;
  margin-top: -4px;
}

.bottom__container {
  position: absolute;
  top: 1130px;
  height: 108px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  padding-right: 10px;
}

.bottom button {
  background: linear-gradient(
    80.25deg,
    #3dffc8 1.31%,
    #40f6cf 15.32%,
    #49dce1 38.61%,
    #57b3ff 68.19%
  );
  box-shadow: 0px 4px 8px rgba(46, 153, 241, 0.5);
  border-radius: 100px;
  border: none;

  padding: 20px 90px 20px;
  min-width: 566px;

  cursor: pointer;
  transition: all 0.1s ease;

  font-size: 5rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.bottom button:hover {
  filter: brightness(105%);
  box-shadow: 0px 4px 16px rgba(46, 153, 241, 0.5);
}

.bottom button:active {
  filter: brightness(95%);
  box-shadow: 0px 2px 4px rgba(46, 153, 241, 0.5);
}
